---
import {
    AboutPageStyled,
    AboutPageStyledBoxesWrapper,
} from "@modules/About/styled";
import Layout from "../layouts/Layout.astro";
import { About as AboutModule } from "@modules/About";
import { TextBox } from "@components/textBox";
import { Container } from "@components/Container";
import { FadeIn } from "@utils/animations/FadeIn";
---

<Layout
    title="Sobre mi"
    description="Hola, soy MauroDev. Soy Desarrollador FullStack con mas de 4 años de experiencia en la industria."
>
    <main class="page-content">
        <AboutModule hideExp={true} client:load />
        <AboutPageStyled>
            <FadeIn client:visible>
                <Container>
                    <h2>Lenguajes de programacion &<br /> Herramientas</h2>
                    <AboutPageStyledBoxesWrapper>
                        <a href="https://react.dev/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="React">
                                <h4>React</h4>
                                <p>3.5 años</p>
                            </TextBox>
                        </a>
                        <a href="https://developer.mozilla.org/docs/Web/JavaScript" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="JavaScript">
                                <h4>JavaScript</h4>
                                <p>4 años</p>
                            </TextBox>
                        </a>
                        <a href="https://nextjs.org/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Next">
                                <h4>Next.js</h4>
                                <p>3.5 año</p>
                            </TextBox>
                        </a>
                        <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Typescript">
                                <h4>Typescript</h4>
                                <p>3 año</p>
                            </TextBox>
                        </a>
                        <a href="https://docs.nestjs.com/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="NestJs">
                                <h4>NestJs</h4>
                                <p>1 año</p>
                            </TextBox>
                        </a>
                        <a href="https://dev.mysql.com/doc/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="MySQL">
                                <h4>MySQL</h4>
                                <p>2 año</p>
                            </TextBox>
                        </a>
                        <a href="https://developer.wordpress.org/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Wordpress">
                                <h4>Wordpress</h4>
                                <p>4 años</p>
                            </TextBox>
                        </a>
                        <a href="https://docs.astro.build/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Astro">
                                <h4>Astro.js</h4>
                                <p>1 años</p>
                            </TextBox>
                        </a>
                        <a href="https://nodejs.org/en/docs/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Node">
                                <h4>Node.js</h4>
                                <p>3 años</p>
                            </TextBox>
                        </a>
                        <a href="https://help.figma.com/hc/en-us" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Figma">
                                <h4>Figma</h4>
                                <p>2 años</p>
                            </TextBox>
                        </a>
                        <a href="https://support.google.com/analytics/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Analitics">
                                <h4>Google Analitics</h4>
                                <p>3 años</p>
                            </TextBox>
                        </a>
                        <a href="https://getbootstrap.com/docs/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="Bootstrap">
                                <h4>Bootstrap</h4>
                                <p>4 años</p>
                            </TextBox>
                        </a>
                        
                        <a href="https://sass-lang.com/documentation/" target="_blank" rel="noopener" style="text-decoration:none;">
                            <TextBox variant="background-text" bgText="SAAS">
                                <h4>SASS</h4>
                                <p>4 años</p>
                            </TextBox>
                        </a>
                    </AboutPageStyledBoxesWrapper>
                    <div style="margin-top:2rem;text-align:center;font-size:1.1rem;">
                        ¿Quieres ver ejemplos prácticos? Descubre algunos de mis proyectos destacados 
                        <a href="/projects" style="color:#4fa3f7;font-weight:bold;text-decoration:underline;">aquí</a>.
                    </div>
                </Container>
            </FadeIn>
        </AboutPageStyled>
    </main>
</Layout>
